<footer>
    <div class="row">
        <div class="col-sm-4">
            <a href="/">Name-ly</a>
        </div>
        <div class="col-sm-4">
            <a href="https://github.com/fchikwekwe/name-ly">Github</a>
        </div>
        <div class="col-sm-4">
            <a href="https://www.linkedin.com/in/faithchikwekwe/">Faith Chikwekwe</a>
        </div>
    </div>
</footer>
