<div class="nav navbar">
    <div class="navbar-header pull-left">
        <a href="/">Home</a>
    </div>
    <div class="pull-right">
        <li><a href="/names">Names</a></li>
        <li><a href="/about">About</a></li>
        {{#if currentUser}}
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/sign-up">Sign-up</a></li>
        {{/if}}

    </div>
</div>
