<!-- Username -->
<div class="form-group">
    <label for="username">Username</label><br>
    <input class="form-control" id="username" type="text" name="username" placeholder="username" required>
</div>

<!-- Password -->
<div class="form-group">
    <label for="password">Password</label><br>
    <input class="form-control" id="password" type="text" name="password" placeholder="password" required>
</div>
