<!-- Username -->
<div class="form-group">
    <label for="username">Username</label><br>
    <input class="form-control" id="username" type="text" name="username" placeholder="username" required>
</div>

<!-- Password -->
<div class="form-group">
    <label for="formPassword">Password</label><br>
    <input class="form-control" id="formPassword" type="password" name="password" placeholder="password" required>
    <!-- Show/Hide Password -->
    <input type="checkbox" onclick="showPassword()"> Show Password
</div>
