<div>
    <h2>Your Names:</h2>
    <p>Choose the names you would like to save.</p>
    <a href="/">Try again.</a>
</div>
<br>
<form action="" method="POST">
    <fieldset>
    {{#each names}}
        <div>
            <input value="{{this}}" name="name" type="checkbox"/>
            <label for="{{this}}">{{this}}</label>
        </div>
    {{/each}}
    <input type="submit" value="Submit">
    </fieldset>
</form>
