<div class="row">
    <h1>Your Names:</h1>
</div>
<div class="row">
    <ul>
    {{#each names}}
        <li>
            <div class="">
                {{this}}
            </div>
        </li>
    {{/each}}
    </ul>
</div>
