<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">
            <h3>Welcome to Name-ly, {{username}}!</h3>
            <p>Thanks for creating an account with us.</p>
            <p>If you'd like to get some more cool names, simply visit http://name-ly.herokuapp.com.</p>
        </div>
    </body>
</html>
