<form class="quiz">
    <fieldset>
        <div class="col-md-3 offset-md-3">
            <div class="intro">
                <div class="main-text card">
                    <h2>I would like to generate some...</h2>
                </div>

                <div class="choice">
                    <a href="/characters" class="try-again btn animate" value="Character names"></a>
                    <a href="/apps" class="try-again btn animate" value="App names"></a>
                </div>
            </div>
        </div>
    </fieldset>
</form>
