<form class="quiz">
    <fieldset>
        <div class="col-md-3 offset-md-3">
            <div class="intro">
                <div class="main-text card">
                    <h2>I would like to generate some...</h2>
                </div>
                <div class="row">
                    <input href="/characters" class="btn animate" type="submit" value="Character names">
                    <input href="/apps" class="btn animate" type="submit" value="App names">
                </div>
            </div>
        </div>
    </fieldset>
</form>
