<form method="POST" action="/login">
    <fieldset>
        <legend>Login</legend>
        {{> user}}

        <div class="form-group">
            <a href="/login">
                <button class="btn btn-primary" type="submit">Submit</button>
            </a>
        </div>
    </fieldset>
</form>
