<form class="quiz" method="POST" action="/quizzes">
	<fieldset>
		<div class="col-md-6 offset-md-3">
			<div class="intro">
				<!-- <legend>W e l c o m e t o N a m e - l y.</legend> -->
				<div class="intro-text card">
					<br>
					<h2>Take the quiz. Get unique names.</h2>
					<br>
				</div>
			</div>
		<div class="question-set">
			<div class="form-group question-1">
				<p class="questions">1. Which gender influence would you like?</p>
				<label class="radio-style"for="masculine">
					<input id="masculine" value="masculine" name="gender" type="radio" required>
					Masculine
				</label>
				<label class="radio-style" for="feminine">
					<input id="feminine" value="feminine" name="gender" type="radio">
					Feminine
				</label>
				<label class="radio-style" for="unisex">
					<input id="unisex" value="unisex" name="gender" type="radio">
					Unisex
				</label>
			</div>
			<div class="form-group question-2">
				<p class="questions">2. Which cultural influence would you like?</p>
				<label for="American" class="radio-style">
					<input id="American" value="American" name="cultural" type="radio" required>
					American
				</label>
				<label class="radio-style"for="German">
					<input id="German" value="German" name="cultural" type="radio">
					German
				</label>
				<label class="radio-style"for="Latin">
					<input id="Latin" value="Latin" name="cultural" type="radio">
					Latin
				</label>
			</div>
			<div class="form-group question-3">
				<p class="questions">3. Which literary influence would you like?</p>
				<label class="radio-style"for="classic">
					<input id="classic" value="classic" name="literary" type="radio" required>
					Classic
				</label>
				<label class="radio-style" for="fantasy">
					<input id="fantasy" value="fantasy" name="literary" type="radio">
					Fantasy
				</label>
				<label class="radio-style"for="modern">
					<input id="modern" value="modern" name="literary" type="radio">
					Modern
				</label>
			</div>
		<input class="btn animate" type="submit" value="Submit">
	</div>
	</fieldset>
</form>
