<form method="POST" action="/quizzes">
	<fieldset>
		<legend>Welcome to Name-ly!</legend>
		<div class="form-group">
            <p>1. Which gender influence would you like?</p>
			<div>
				<input value="masculine" name="gender" type="radio"/>
				<label for="masculine">Masculine</label>
			</div>
            <div>
				<input value="feminine" name="gender" type="radio"  />
				<label for="feminine">Feminine</label>
            </div>
			<div>
				<input value="unisex" name="gender" type="radio" />
				<label for="unisex">Unisex</label>
			</div>
        </div>
		<div class="form-group">
            <p>2. Which cultural influence would you like?</p>
			<div>
				<input value="American" name="cultural" type="radio"/>
				<label for="American">American</label>
			</div>
			<div>
				<input value="German" name="cultural" type="radio"/>
				<label for="German">German</label>
			</div>
			<div>
				<input value="Latin" name="cultural" type="radio"/>
				<label for="Latin">Latin</label>
			</div>
        </div>
		<div class="form-group">
            <p>3. Which literary influence would you like?</p>
			<div class="">
				<input value="classic" name="literary" type="radio"/>
				<label for="classic">Classic</label>
			</div>
			<div class="">
				<input value="fantasy" name="literary" type="radio"/>
				<label for="fantasy">Fantasy</label>
			</div>
			<div class="">
				<input value="modern" name="literary" type="radio"/>
				<label for="modern">Modern</label>
			</div>
        </div>
		<input type="submit" value="Submit">
	</fieldset>
</form>
