<div class="quiz">
	<!-- Progress Meter -->
	<div id="circle-container"></div>

	<form action="">
		<fieldset class="question question1">
			<div class="content">
				<legend>1. Which bacon?</legend>
				<input type="radio" name="question1" id="turkey" class="btnQ">
					<label for="turkey" class="btnQ"><span>Turkey bacon</span></label>
				<input type="radio" name="question1" id="canadian">
					<label for="canadian" class="btnQ"><span>Canadian bacon</span></label>
				<input type="radio" name="question1" id="american">
					<label for="american" class="btnQ"><span>American bacon</span></label>
				<input type="radio" name="question1" id="beef">
					<label for="beef" class="btnQ"><span>Beef bacon</span></label>
			</div>
			<div class="button-space"></div>
		</fieldset>

		<fieldset class="q question2">
			<div class="content">
				<legend>2. How much?</legend>
				<input type="radio" name="question2" id="1">
					<label for="1" class="btnQ"><span>1</span></label>
				<input type="radio" name="question2" id="2">
					<label for="2" class="btnQ"><span>2</span></label>
				<input type="radio" name="question2" id="3">
					<label for="3" class="btnQ"><span>3</span></label>
				<input type="radio" name="question2" id="99">
					<label for="99" class="btnQ"><span>99</span></label>
			</div>
			<div class="button-space"></div>
		</fieldset>

	</form>
</div>
