<form method="POST" action="/sign-up">
    <fieldset>
        <legend>Sign Up</legend>
        {{> user}}
        {{#each nameList.names}}
        <div class="form-group">
            <input class="form-control" id="nameList" type="hidden" name="nameList" value="{{this}}"/>
        </div>
        {{/each}}

        <div class="form-group">
            <a href="/sign-up">
                <button class="btn btn-primary" type="submit">Submit</button>
            </a>
        </div>
    </fieldset>
</form>
