
/** Navbar */
nav {
    font-family: 'Muli', sans-serif;
    background: #5449d2;
}

nav div {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div li {
    display: inline-block;
}

nav div li a {
    padding-left: 5px;
    padding-right: 10px;
    color: white;
}

nav div li a#home {
    padding-left: 20px;
    font-size: 24px;
}

nav div li a#home:hover {
    transition: all 1s;
    color: #fe825a;
}

nav div li a#gallery:hover, nav div li a#logout:hover, nav div li a#login:hover{
    transition: all 1s;
    color: #fe825a;
}

nav div li a#about:hover, nav div li a#signup:hover {
    transition: all 1s;
    color: #fe825a;
}
/** Homepage / Quiz */
.container-fluid {
    font-family: 'Muli', sans-serif;
    background: #5449d2;
    color: white;
    padding-bottom: 10px;
}

form.quiz {
    text-align: center;
}

.question-set {
    padding-top: 20px;
}

label.radio-style {
    padding:3px 0;
    font-weight: bold;
    letter-spacing: 5px;
    color: #5449d2;
    background-color: white;
    width: 60%;
    border: 2px;
    border-radius: 10px;
    border-color: #fe825a;
}

label.radio-style:hover {
    color: white;
    background-color: #5449d2;
    border-color: #fe825a;
}

div.intro-text {
    display: inline-block;
    padding: 0 .75em;
    box-shadow: 0 0 3em rgba(166, 166, 166);
}

div.intro-text:hover {
    box-shadow: none;
    animation: glow 2s infinite;
}

@keyframes glow {
    0%   { box-shadow: 0 0 3em rgba(166, 166, 166,1) }
    50%   { box-shadow: 0 0 3em rgba(166, 166, 166,0.5) }
    100% { box-shadow: 0 0 3em rgba(166, 166, 166,1) }
}

div.main-text {
    width: 600px;
}
.btn {
    color: #5449d2;
    width: 140px;
    height: 50px;
    line-height: 64px;
    margin: 10px;
    padding: 0.5rem;
}
.animate {
    border: 2px solid #5449d2;
}

.animate:hover {
    background-color: #5449d2;
    border: 2px solid white;
    color: white;
}

.card {
    color: #5449d2;
}

p.questions {
    font-size: 24px;
}

.try-again {
    background-color: white;
    padding: 0.5rem;
}

.quiz-form {
    display: inline-block;
}

/** Footer */
footer {
    font-family: 'Muli', sans-serif;
    background: white;
    color: #5449d2;
    height: 100px;
    text-align: center;
    padding: 40px 10px 20px 10px;
}

footer div div a {
    color: #5449d2;
}

footer div div a:hover {
    color: #fe825a;
}
/** About */
/** Login / Sign-up */
.login-form {
    text-align: center;
    border: 4px;
    border-color: white;
}
form.user-form {
    display: inline-block;
    width: 300px;
}
/** Name Gallery */
.name-gallery ul {
    columns: 4;
    list-style-type: none;
}

@media(max-width: 500px) {
    .name-gallery ul {
        columns: 2;
        list-style-type: none;
    }
}

.name-gallery ul li {
    padding-top: 10px;
    font-size: 16px;
}

.name-gallery {
    text-align: center;
}

@media(max-width: 860px) {
    h2.name-gallery {
        font-size: 24px;
    }
}

/** Profile */
.profile-page {
    text-align: center;
}

.profile-title {
    padding-bottom: 20px;
}
